.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-40 {
  float: left;
  width: 40%;
}

.col-60 {
  float: left;
  width: 60%;
}
.col-35 {
  float: left;
  width: 35%;
}

.col-65 {
  float: left;
  width: 65%;
}
.col-3 {
  float: left;
  width: 33.3333%;
}
.col-4 {
  float: left;
  width: 40%;
}

.col-6 {
  float: left;
  width: 60%;
}
@media (max-width: 800px) {
  .col-3,
  .col-35,
  .col-40,
  .col-60,
  .col-65 {
    width: 100%;
  }
  .sidebar {
    margin: 20px;
  }
}
