@import "var";
@import "resposive";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background-color: $main-bg;
  font-family: -apple-system, "Montserrat", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: $txt-color;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
a:hover {
  color: $btn-bg;
}
.btn {
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover {
  color: $btn-bg;
}
// HEADER START
header {
  background-color: $bg;
  h1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: $btn-bg;
    font: {
      family: Montserrat;
      weight: 900;
      size: 45px;
    }
  }
}
// HEADER END
// NAVBAR START
nav {
  position: sticky;
  top: 0;
  border: 1px solid $brder;
  background-color: $bg;
  .nav-item {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    .nav-link {
      display: inline-block;
      a {
        display: block;
        padding: 10px;
        border-right: 1px solid $brder;
        font-size: 16px;
      }
      &:nth-child(1) {
        border-left: 1px solid $brder;
      }
    }
    .dropdown {
      position: relative;
      display: inline-block;
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $bg;
        border: 1px solid $brder;
        border-top: none;
        z-index: 1;
        width: fit-content;
        margin-left: -5px;
      }

      .dropdown-content a {
        color: $txt-color;
        padding: 10px;
        text-decoration: none;
        display: block;
        border: none;
        &:hover {
          color: $btn-bg;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }
    }
  }
  .mobile-menu {
    display: none;
    .mobile-menu-bar {
      border: 1px solid $brder;
      .toggle {
        width: 45%;
        display: inline-block;
      }
      .menu-header {
        width: 40%;
        display: inline-block;
        color: $btn-bg;
        font: {
          family: Montserrat;
          weight: 900;
          size: 25px;
        }
      }
    }
    .nav-link {
      display: block;
      a{
        font-size: 15px;
      }

    }
  }
}
@media (max-width: 800px) {
  header {
    display: none;
  }
  nav {
    .nav-item {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }
}
// NAVBAR END
// BLOG AREA START
.card {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  .card-body {
    background-color: $bg;
    padding: 20px;
    margin: 20px;
    border: 1px solid $brder;
    .card-img {
      padding: 10px;
      img {
        width: 100%;
        height: 250px;
      }
    }
    .card-post {
      padding: 10px;
      .post-cat {
        display: inline-block;
        padding: 5px;
        text-transform: uppercase;
        font-size: 12px;
        background-color: $btn-bg;
        color: $bg;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
      .post-title {
        padding-top: 10px;
        a {
          font-size: 20px;
          line-height: 30px;
          text-align: left;
          font-weight: 500;
          color: $title-txt;
          &:hover {
            color: $btn-bg;
          }
        }
      }
      .post-info {
        color: $txt-color;
        font-size: 12px;
        padding: 5px 0px;
        a {
          padding: 2px;
          padding-right: 10px;
        }
      }
      .post-content {
        padding: 10px 0px;
        color: $txt-color;
        line-height: 24px;
        text-align: justify;
      }
      .post-btn {
        background-color: $btn-bg;
        display: inline-block;
        color: $bg;
        font-size: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .link{
      max-width: 300px;
      margin: 0 auto;
      text-align: center;
      
      a{
        display: inline-block;
        width: 23%;
        font-size: 18px;
        font-weight: bolder;
        color: $title-txt;
        &:nth-child(3n+1){
          color: $btn-bg;
        }
        &:hover{
          color: $btn-bg;
        }
      }
    }
  }
  .sidebar {
    padding: 20px;
    background-color: $bg;
    border: 1px solid $brder;
    margin-bottom: 20px;
    .side-header {
      padding: 10px 0px;
      margin-bottom: 10px;
      border-bottom: 2px solid $brder;
      font-size: 20px;
      font-weight: bolder;
      text-transform: uppercase;
    }
    .side-body {
      padding: 10px 0px;
      .side-img {
        padding: 0px 10px;
        img {
          width: 100%;
          height: 120px;
        }
      }
    }
    .side-title {
      a {
        line-height: 24px;
        font-size: 16px;
        color: $title-txt;
        font-weight: bold;
        &:hover {
          color: $btn-bg;
        }
      }
    }
    .link-item {
      .link {
        display: block;
        a {
          font-size: 15px;
          line-height: 35px;
          color: $title-txt;
          &:hover {
            color: $btn-bg;
          }
        }
      }
    }
    .link-item-social {
      .link {
        padding: 10px 5px;
        a {
          padding: 5px 10px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          color: $bg;
          &:hover{
            opacity: 0.7;
          }
        }
        &:nth-child(1) {
          a {
            background-color: #14a0f8;
          }
        }
        &:nth-child(2) {
          a {
            background-color: #1A91DA;
          }
        }
        &:nth-child(3) {
          a {
            background-color: #D32681;
          }
        }
        &:nth-child(4) {
          a {
            background-color: #DF1A26;
          }
        }
        &:nth-child(5) {
          a {
            background-color: #1B1F23;
          }
        }
        &:nth-child(6) {
          a {
            background-color: #FF0000;
          }
        }
      }
    }
  }
}

// BLOG AREA END

.footer{
  padding: 20px;
  background-color: $bg ;
  border: 1px solid $brder;
  .footer-area{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    .contact{
      padding-right: 20px;

      .contact-social{
        p{
          color: $txt-color;
          i{
            border: 2px solid $brder;
            padding: 10px;
            width: 40px;
            text-align: center;
            font-size: 18px;
            margin-right: 10px;
          }
        }
        a{
          i{
            padding: 10px;
            font-size: 18px;
          }
        }
      }
    }
    .title{
      font-size: 22px;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: monospace;
    }
    hr{
      width: 200px;
    }
  }
  .copyrights{
    
    p{
      font-size: 20px;
      font-weight:700;
      text-align: center;
    }
  }
}
